body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    min-width: 250px;

}

h2 {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#site-name, #page {
    text-align: center;
    color: black;
    margin-top: 10px;
}

#site-name {
    font-weight: bold;
}

#page {
    font-size: 14px;
}

h4 {
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#video-container > div {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: block;
}

#video-container > div > div {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

#video-container button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
}
